spec/data-model/message.dtd

<!ELEMENT message (declaration*,(pattern|(selectors,variant+)))>

<!ELEMENT declaration (expression)>
<!ATTLIST declaration name NMTOKEN #REQUIRED>

<!ELEMENT selectors (expression)+>
<!ELEMENT variant (key+,pattern)>
<!ELEMENT key (#PCDATA)>
<!ATTLIST key default (true | false) "false">

<!ELEMENT pattern (#PCDATA | expression)*>
<!ELEMENT expression ((literal | variable | function | unsupported),attribute*)>

<!ELEMENT literal (#PCDATA)>
<!ATTLIST literal quoted (true | false) #REQUIRED>

<!ELEMENT variable (EMPTY)>
<!ATTLIST variable name NMTOKEN #REQUIRED>

<!ELEMENT function (operand?,option*)>
<!ATTLIST function
  kind (open | close | value) #REQUIRED
  name NMTOKEN #REQUIRED
>
<!ELEMENT operand (literal | variable)>
<!ELEMENT option (literal | variable)>
<!ATTLIST option name NMTOKEN #REQUIRED>

<!ELEMENT unsupported (operand?,source)>
<!ATTLIST unsupported sigil CDATA #REQUIRED>
<!ELEMENT source (#PCDATA)>

<!ELEMENT attribute (literal | variable)>
<!ATTLIST attribute name NMTOKEN #REQUIRED>
