spec/data-model/message.dtd

<!ELEMENT message (
  (declaration | unsupportedStatement)*,
  (pattern | (selectors,variant+))
)>

<!-- In a <declaration type="input">, the <expression> MUST contain a <variable> -->
<!ELEMENT declaration (expression)>
<!ATTLIST declaration
  type (input | local) #REQUIRED
  name NMTOKEN #REQUIRED
>

<!ELEMENT unsupportedStatement (expression)+>
<!ATTLIST unsupportedStatement
  keyword CDATA #REQUIRED
  body CDATA #IMPLIED
>

<!ELEMENT selectors (expression)+>
<!ELEMENT variant (key+,pattern)>
<!ELEMENT key (#PCDATA)>
<!ATTLIST key default (true | false) "false">

<!ELEMENT pattern (#PCDATA | expression)*>

<!ELEMENT expression (
  ((literal | variable), (function | unsupportedExpression)?) |
  function | unsupportedExpression
)>

<!ELEMENT literal (#PCDATA)>
<!ATTLIST literal quoted (true | false) #REQUIRED>

<!ELEMENT variable (EMPTY)>
<!ATTLIST variable name NMTOKEN #REQUIRED>

<!ELEMENT function (option)*>
<!ATTLIST function
  kind (open | close | value) #REQUIRED
  name NMTOKEN #REQUIRED
>
<!ELEMENT option (literal | variable)>
<!ATTLIST option name NMTOKEN #REQUIRED>

<!ELEMENT unsupportedExpression (#PCDATA)>
<!ATTLIST unsupportedExpression sigil CDATA #REQUIRED>
