spec/registry.dtd

<!ELEMENT registry (function*|pattern*)>

<!ELEMENT function (description|signature+)>
<!ATTLIST function name NMTOKEN #REQUIRED>

<!ELEMENT description (#PCDATA)>

<!ELEMENT pattern EMPTY>
<!ATTLIST pattern id ID #REQUIRED>
<!ATTLIST pattern regex CDATA #REQUIRED>

<!ELEMENT signature (input?|option*|match*)>
<!ATTLIST signature type (match|format) #REQUIRED>
<!ATTLIST signature position (open|close|standalone) "standalone">
<!ATTLIST signature locales NMTOKENS #IMPLIED>

<!ELEMENT input EMPTY>
<!ATTLIST input title CDATA #IMPLIED>
<!ATTLIST input values NMTOKENS #IMPLIED>
<!ATTLIST input pattern NMTOKEN #IMPLIED>
<!ATTLIST input readonly (true|false) "false">

<!ELEMENT option EMPTY>
<!ATTLIST option title CDATA #IMPLIED>
<!ATTLIST option name NMTOKEN #REQUIRED>
<!ATTLIST option values NMTOKENS #IMPLIED>
<!ATTLIST option default NMTOKEN #IMPLIED>
<!ATTLIST option pattern IDREF #IMPLIED>
<!ATTLIST option required (true|false) "false">
<!ATTLIST option readonly (true|false) "false">

<!ELEMENT match EMPTY>
<!ATTLIST match values NMTOKENS #IMPLIED>
<!ATTLIST match pattern NMTOKEN #IMPLIED>
