spec/registry.dtd

<!ELEMENT registry (function|validationRule)*>

<!ELEMENT function (description,(formatSignature|matchSignature)+)>
<!ATTLIST function
    name           NMTOKEN  #REQUIRED
>

<!ELEMENT description (#PCDATA)>

<!ELEMENT validationRule EMPTY>
<!ATTLIST validationRule
    id             ID     #REQUIRED
    regex          CDATA  #REQUIRED
>

<!ELEMENT formatSignature (input?,option*,override*)>
<!ATTLIST formatSignature
    position       (open|close|standalone)  "standalone"
>

<!ELEMENT matchSignature (input?,option*,match*,override*)>

<!ELEMENT input EMPTY>
<!ATTLIST input
    values         NMTOKENS      #IMPLIED
    validationRule IDREF         #IMPLIED
    readonly       (true|false)  "false"
>

<!ELEMENT option EMPTY>
<!ATTLIST option
    name           NMTOKEN       #REQUIRED
    values         NMTOKENS      #IMPLIED
    default        NMTOKEN       #IMPLIED
    validationRule IDREF         #IMPLIED
    required       (true|false)  "false"
    readonly       (true|false)  "false"
>

<!ELEMENT match EMPTY>
<!ATTLIST match
    locales        NMTOKENS  #IMPLIED
    values         NMTOKENS  #IMPLIED
    validationRule IDREF     #IMPLIED
>

<!ELEMENT override (input?,option*)>
<!ATTLIST override
    locales        NMTOKENS  #REQUIRED
>
