spec/registry.dtd

<!ELEMENT registry (function*|pattern*)>

<!ELEMENT function (description|signature+)>
<!ATTLIST function name NMTOKEN #REQUIRED>

<!ELEMENT description (#PCDATA)>

<!ELEMENT pattern EMPTY>
<!ATTLIST pattern id ID #REQUIRED>
<!ATTLIST pattern regex CDATA #REQUIRED>

<!ELEMENT signature (input?|param*|match*)>
<!ATTLIST signature type (match|format) #REQUIRED>
<!ATTLIST signature position (open|close|standalone) "standalone">
<!ATTLIST signature locales NMTOKENS #IMPLIED>

<!ELEMENT input EMPTY>
<!ATTLIST input title CDATA #IMPLIED>
<!ATTLIST input values NMTOKENS #IMPLIED>
<!ATTLIST input pattern NMTOKEN #IMPLIED>
<!ATTLIST input readonly (true|false) "false">

<!ELEMENT param EMPTY>
<!ATTLIST param title CDATA #IMPLIED>
<!ATTLIST param name NMTOKEN #REQUIRED>
<!ATTLIST param values NMTOKENS #IMPLIED>
<!ATTLIST param default NMTOKEN #IMPLIED>
<!ATTLIST param pattern IDREF #IMPLIED>
<!ATTLIST param required (true|false) "false">
<!ATTLIST param readonly (true|false) "false">

<!ELEMENT match EMPTY>
<!ATTLIST match values NMTOKENS #IMPLIED>
<!ATTLIST match pattern NMTOKEN #IMPLIED>
